/*
em HTML é id = em CSS é #

em HTML é Class = em CSS é .
*/

body{
    background-color: rgba(128, 238, 133, 0.349);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
    
}

.corpo{
    color: rgba(6, 87, 6, 0.904);
}

.basico{
    color: rgba(21, 182, 21, 0.747);
    font-weight: bolder;
}

.intermediario{
    color: rgba(151, 151, 21, 0.788);
}

.avancado{
    color: rgba(204, 15, 15, 0.74);
}

p{
    color: rgba(7, 7, 7, 0.925);
}